.gallery-wrapper {
  position: relative;
}

.gallery {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  height: 800px;
  width: auto;
  overflow-y: hidden;
  overflow-x: scroll;
}

.gallery-navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  height: 100%;
  top: 0;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
}
