.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100dvh;
  width: 100dvw;

  color: var(--font-color);

  text-align: center;

  padding: 1.25rem;
  box-sizing: border-box;
}

.header-text {
  font-size: 3.4vw;
  letter-spacing: 0.4vw;

  width: 100%;
}

.logo-container {
  width: 60%;
  height: auto;
  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-container img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  align-items: flex-end;
  gap: 30px;
  font-size: clamp(0.1rem, 1.5rem, 1.5rem);
  letter-spacing: 0.2rem;
}

footer div:nth-child(1) {
  text-align: left;
}
footer div:nth-child(2) {
  text-align: center;
}
footer div:nth-child(3) {
  text-align: right;
}

@media (max-width: 640px) {
  .logo-container {
    width: 90%;
  }
  footer {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
  }
  .header-text {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .logo-container {
    width: 60%;
  }
  footer {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
  /* 2K+ screens */
}
