.banner-container {
  width: 100dvw;
  text-align: center;
  font-size: var(--h1);
  /* padding: var(--margin); */
  box-sizing: border-box;

  height: 800px;
  max-height: 800px;

  overflow: hidden;
  position: relative;

  background-position: center;

  display: flex;
  align-items: center;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.banner-container > h1 {
  color: var(--beige);
  width: 100%;
}

.tagline-container {
  display: flex;
  width: 100dvw;
  height: 449px;
  padding: var(--margin);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;

  color: var(--black, #000);
  text-align: center;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.address-container {
  padding: var(--margin);
}

.address-container p {
  font-size: var(--h2);
  margin-bottom: 0px;
}
.address-container h2 {
  margin-top: 0px;
}

.image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image-container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.contact-container {
  font-size: var(--h2);
  padding: var(--margin);
}
.contact-container span {
  color: #000;
}
.contact-details {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.contact-details a,
.contact-details a:visited {
  color: var(--black, #000);
}

@media screen and (max-width: 768px) {
  .tagline-container {
    padding: calc(var(--margin) * 2) var(--margin);
    height: auto;
  }
  .banner-container {
    max-height: 300px;
  }
}
