.container {
  height: 800px;

  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.image-container,
.text-container {
  display: inline-block;
}
.image-container {
  position: absolute;
  left: 0px;
}
.text-container {
  position: absolute;
  left: 0px;
  width: 100%;
}
.text-container > h1 {
  left: 0px;
  display: inline-block;
  text-align: left;
  width: fit-content;
  max-width: 50%;
}

.text-wrapper {
  width: fit-content;

  width: min-content;
  background: green;
  display: inline-block;
  /* max-width: 50%; */
}

.text-wrapper > h1 {
  text-align: left;
  white-space: nowrap;
}

.description {
  color: var(--black, #000);
  font-family: "Times New Roman";
  max-width: 50%;
  margin: 0;
  display: inline-block;
  background: red;
  /* position: absolute; */
  /* width: fit-content; */
  font-size: 30px;
}

.information-wrapper {
  background: pink;
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
