.container {
  height: 800px;

  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: calc(2 * var(--margin));
}

.image-container,
.text-container {
  display: inline-block;
}

.image-container {
  position: absolute;
  left: 0px;
  height: 800px;
}
.image-container img {
  height: 100%;
  width: auto;
}
.text-container {
  position: absolute;
  left: 0px;
  width: 100%;
}
.text-container > h1 {
  left: 0px;
  display: inline-block;
  text-align: left;
  width: fit-content;
  max-width: 50%;
}

.text-wrapper {
  width: fit-content;

  width: min-content;

  display: inline-block;
  /* max-width: 50%; */
}

.text-wrapper h1 {
  text-align: left;
  white-space: nowrap;
}

.description {
  color: var(--black, #000);
  font-family: "Times New Roman";
  max-width: 50%;
  margin: 0;
  display: inline-block;

  /* position: absolute; */
  /* width: fit-content; */
  font-size: 30px;
}

.information-wrapper {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  gap: 16px;
}

svg {
  width: 80px;
}
p.description {
  max-width: 70%;
  font-family: "STIX Two Text", serif;
  font-size: var(--p);
}
.servizi-text {
  padding: var(--margin);
  padding-top: calc(var(--margin) / 4);
}
.titleContainer {
  padding: 16px 0px;

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 16px;
    height: auto;
  }
  .image-container {
    max-height: 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  p.description {
    max-width: unset;
  }
  svg {
    width: 50px;
  }
}
